$contentMaxWidth: 1440px;

//文字の色
$--main-font-cBlack	:	#282F35	;
$--main-bg-cBlack	:	#1B1310	;
$--main-font-cWhite	:	#FFFFFF	;
$--main-font-cGray	:	#171717	;
$--main-font-gray-pa	:	rgba(23,23,23,0.2)	;
$--button-bg	:	#F7D43F	;

